del {
  text-decoration: none;
}

body {
  background-color: black;
  color: #28FE14;
  font-size: 110%;
  font-family: 'Source Code Pro', monospace;
  padding: 10vh;
}

input {
  background-color: black;
  border: solid black;
  outline: none;
  color: transparent;
  text-shadow: 0 0 0 green;
  font-size: 100%;
  font-family: 'Source Code Pro', monospace;
}

button {
  background-color: black;
  outline: none;
  border: solid;
}

kbd {
  font-family: inherit;
}
ins {
    text-decoration: none;
}
.blue {
    color: #00E5E5;
}
.opacity {
    color: black;
}
#dontShow{
    display: none;
}