del {
  text-decoration: none;
}

body {
  background-color: black;
  color: #28FE14;
  font-size: 110%;
  font-family: Hack, monospace;
  text-shadow: -0.06em 0 	whitesmoke, 0.06em 0 black;
  padding: 10vh;
}

input {
  background-color: black;
  border: solid black;
  outline: none;
  color: transparent;
  color: #28FE14;
  font-family: Hack, monospace;
  text-shadow: -0.06em 0 	whitesmoke, 0.06em 0 black;
  text-shadow: red;
  caret-color: black;
}

button {
  background-color: black;
  outline: none;
  font-size: 110%;
  text-shadow: -0.06em 0 	whitesmoke, 0.06em 0 black;
  border: solid;
}

kbd {
  font-family: inherit;
}
ins {
    text-decoration: none;
}
.blue {
    color: #00E5E5;
}
.opacity {
    color: black;
}
#dontShow{
    display: none;
}